body
{
    position: relative;
    margin: 0;
    padding: 0;
    /* background-color: #3a3a3a; */
    background-color:white;
    background-size: contain;
    height: 3500px;
}
.no_select
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
p , h1,h2,h3, span, a
{
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', sans-serif;
}
a
{
    text-decoration: none;
    color: white;
}

.container
{
    position: relative;
    max-width: 1700px;
    margin: 0 auto;
    height: 100vh;


    
   
   
    
  
}
.nav
{
    width: 100%;
    -webkit-box-shadow: 0px 0px 15px 6px #3e3e3ef0;
    -moz-box-shadow: 0px 0px 15px 6px #3e3e3ef0;
    box-shadow: 0px 0px 15px 6px #3e3e3ef0;
    background-color:#1e1e1e;
    display: flex;
    justify-content: space-evenly;
    padding: 14px;
    position: fixed;
    align-items:center;
    z-index: 5;
}
.nav_mob
{
    display: none;
}
.icon
{
    width: 40px;
    height: 40px;
}
.logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.phone
{
    margin-left: 50px;
    position: relative;
}
.phone::before
{
    content:url(./images/icons8-iphone-x-50.png);
    width: 50px;
    height: 50px;
    position: absolute;
    left: -45px;
    top: -15px;


}
.menu
{
    display: flex;
    justify-content: space-around;
    gap: 70px;
}
.menu_item {
   
    font-size: calc(12px + 8* (100vw / 1900));
    line-height:calc(12px + 8 * (100vw / 1900)); 
    color:white;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s;
}
.menu_item:hover
{
    color: #bc8c58;
    
    transition: all 0.5s;
}
@media screen and (max-width: 1120px)
{
    .nav{
        display: none;
    }
    .nav_mob
    {
      display: block;
      width: 100%;
      height: 50px;
      background-color:#3a3a3a;
      position: fixed;
        z-index: 10;
    }
    .menu_mob
    {
        display: none;
        flex-direction: column;
        background-color:#3a3a3a;
        align-items: center;
        position: fixed;
        z-index: 10;
        width: 100%;
        height: 100vh;
    }
    .menu_item {
   
       margin-top: 25px;
    }
}

.top
{
    background-color:#1e1e1e;
    /* max-width: 1700px; */
    padding: 10px;
    height: 100vh;
    display: flex;
    /* box-shadow: 0 0 29px 11px #000000 ; */
    justify-content: left;
}
.content
{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
.img_box
{
    margin-top: 10%;
    max-width: 900px;/*07.12.2022*/
    max-height: 500px;/*07.12.2022*/
    right: 1%;
    position: absolute;
}
.img_top
{
    object-fit:cover;
    width: 100%;
    height: 100%;
    border-radius:15px;
   
}
.top h1
{
    margin-top: 170px;
    margin-left: 90px;
    max-width: 1200px;
    color:#bc8c58;
    /* text-shadow: 0 0 8px #bc8c58; */
    font-size: calc(20px + 30* (100vw / 1900));
    line-height:calc(17px + 30 * (100vw / 1900));
    font-weight: 400;
}
.top .mobil_h1
{
    display: none;
    margin-top: 170px;
    margin-left: 90px;
    max-width: 1200px;
    color:#bc8c58;
    /* text-shadow: 0 0 8px #bc8c58; */
    font-size: calc(29px + 30* (100vw / 1900));
    line-height:calc(26px + 30 * (100vw / 1900));
}
.top .btn
{
    font-weight: 400;
    box-sizing:border-box;
    border-radius:10px;
    margin-left: 90px;
    margin-top: 90px;
    margin-bottom: 30px;
    background-color:#bc8c58;
    padding: 10px 15px;
    width: 228px;
    color:rgb(44, 44, 44);
    font-size: calc(12px + 8* (100vw / 1900));
    line-height:calc(13px + 7 * (100vw / 1900));
}

.top p
{
    margin-left: 90px;
    color:white;
    font-size: calc(17px + 7* (100vw / 1900));
    line-height:calc(14px + 11* (100vw / 1900));
    font-weight: 300;
}
@media screen and (max-width: 1500px)
{
    .img_box 
    {
        margin-top: 25%;
        width: 750px;
        right: 1%;
        
    }
}
@media screen and (max-width: 1120px)
{
    .top
    {
        height: 70vh;
    }
    .content
    {
        margin-top: 0;
    }
    .top .btn
    {
        text-align: center;
    }
    
    .img_box 
    {
        margin-top: 10%;
       
        
    }
    .top h1
    {
        margin-top: 70px;
        margin-left: 20px;
       
    }
    .top .btn
    {
        
        margin-left: 20px;
        margin-top: 40px;
        
        padding: 10px 15px;
       
    }
    .top p
    {
        margin-left: 20px;
    
    }
}
@media screen and (max-width: 925px)
{
    .content
    {
        align-items:center;
    }
    .img_box 
    {
        /* margin-top: 25%;
        width: 550px;
        right: 1%; */
        display: none;
        
    }
    
    .top
    {
        background:url(./images/sect-bg-2.webp);
        background-size:cover;
        
        justify-content: center;
    }
    .top h1
    {
        text-align: center;
    }
      
   

    
}
@media screen and (max-width: 510px)

{
    .content
    {
        box-sizing:border-box;
        padding: 100px 5px 50px;
        align-items:center;
    }
    .top
    {
        height: 80vh;
    }
    .top .mobil_h1 
    {
        box-shadow:none;
        box-sizing:border-box;
        text-align: center;
        display: block;
        margin-top: 0;
        margin-left: 0;
        padding: 10px;
    }
    .top H1 
    {
        display: none;
    }
    .top p
    {
        text-align: center;
    }
        

    
}


.why
{

    background-color:#1e1e1e;
    position: relative;
    z-index: 5;
  
   
    min-width: 0;
    
    display:flex;
    
   
    
}
.why_right
{
    background: url(./images/sect-bg-2.webp);
    width: 100%;
    padding: 110px 80px;
}
.why_right h1
{
   
      font-size:32px ;
      line-height:30px ;
    font-size: calc(36px + 6* (100vw / 1900));
    line-height:calc(36px + 6 * (100vw / 1900));
    margin-bottom: 40px;
    color:#bc8c58;
    font-weight: 400;
    /* text-shadow: 0 0 8px #bc8c58; */
    
}
.why_right p
{

    font-size:25px ;
    line-height:25px ;
    font-size: calc(19px + 1* (100vw / 1900));
    line-height:calc(19px + 1* (100vw / 1900));
    color:white;
    margin-bottom: 20px;
    margin-left: 25px;
    position: relative;
}
.why_right p::before
{
    content: "";
    position: absolute;
    left: -25px;
    top: 50%;
   transform: translateY(-50%);
    width:10px;
    height:10px;
    border-radius:10px;
    background-color:#bc8c58;
    
}
@media screen and (max-width: 1500px) 
{
    .why 
    {
        padding: 40px 25px ;
    }
  }
  @media screen and (max-width: 1120px) 
  {
    .why 
    {
        display:flex;
        flex-direction: column-reverse;
        
    }
    .why_right
    {
        box-sizing:border-box;
        margin-left: 50%;
        transform: translateX(-50%);
        min-width: 600px;
        padding: 10px;
        margin-bottom: 70px;
    }
  

  }
  @media screen and (max-width: 600px) 
  {
    .why 
    {
        padding: 40px 5px ;
    }
    .why_right
    {
        
        min-width: 420px;
        margin-bottom: 20px;
        
    }
    .why_right h1
    {
        text-align: center;
        margin-top: 0;
        font-size: 29px;
        line-height: 31px;
        text-shadow: none;
    }
    .why_right p
    {
        font-size: 17px;
        line-height: 16px;
    }

  }
  @media screen and (max-width: 430px) 
  {
    .why_right
    {
        margin-left: 0;
        transform: none;
        min-width: 320px;
    }
 }
/*---------------------SLIDER-----------------*/
.slider
{
    position: relative;
    min-width: 0;
    /* max-width: 700px; */
    
}
.slider__item /*07.12.2022*/
{
    max-width: 920px;/*07.12.2022*/
    max-height: 620px;/*07.12.2022*/
}
.slider__item img
{
    width: 100%;
    height: 70%;
}
.text
{
    padding-top: 30px;
     padding-bottom: 20px;
    background-color:#ffffff;
    min-height: 180px;
    text-align: center;
     padding-left: 36.5%;
}
.text h2
{
  
    font-size: 24px;
    line-height:24px;
    color: #bc8c58;
    
    font-weight: 400;
    padding-bottom: 20px;
    
}
.text p
{
    
    font-size: 16px;
    line-height:19px;
    color: #000000;
    font-weight: 400;
   
}
.slick-list
{
    max-width: 920px;
    overflow: hidden;
}
@media screen and (max-width: 1500px) 
{
    .slick-list {
        width: 500px;
    }
  }
@media screen and (max-width: 1120px) 
{
.why_left
{
    display: flex;
    justify-content: center;
    
}    
.slick-list 
{
    width: 600px;
}
.slider__item
{
    display: flex;
    flex-direction: column-reverse;
}
.text
{
    padding: 10px;
}
}
@media screen and (max-width: 650px) 
{
      
    .slick-list 
    {
        width: 420px;
    }
    
        .text
    {
       
        
        min-height: 90px;
        text-align: center;
    }
}
@media screen and (max-width: 450px) 
{
        
    .slick-list 
    {
        width: 310px;
    }
    
        .text
    {
       
        
        min-height: 90px;
        text-align: center;
    }
}
  
.slick-track
{
   
    display: flex;
}

.why_right .slick-arrow
{
    font-size: 0;
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 50px;
    z-index: 10;
    border: none;
    
}
.why_right .slick-arrow.slick-next
{
    
    background-color: white;
    right: 616px;
}

.why_right .slick-arrow.slick-prev
{
    
    background-color: #6f9737;
    right: 556px;
}
@media screen and (max-width: 1120px)
{
    .why_right .slick-arrow
    {
        position: absolute;
        bottom: -60px;
    } 
    .why_right .slick-arrow.slick-next
    {
        left: 55%;
    }

    .why_right .slick-arrow.slick-prev
    {
        left: 35%;
    }
}
@media screen and (max-width: 430px)
{
    
    .why_right .slick-arrow.slick-next
    {
        left: 55%;
    }

    .why_right .slick-arrow.slick-prev
    {
        left: 30%;
    }
}

.videoWrapper.one
{
    max-width: 1700px;
    background-color:#1e1e1e;
    display: flex;
    justify-content: center;
}
.video_item_one
{
    width: 1050px;
    margin: 0 auto;
    
}
@media screen and (max-width: 1100px)
{
    
    .video_item_one
{
    width: 600px;
}
}
@media screen and (max-width: 700px)
{
    
    .video_item_one
{
    width: 600px;
}
}
@media screen and (max-width: 600px)
{
    
    .video_item_one
{
    width: 500px;
}
}
@media screen and (max-width: 500px)
{
    
    .video_item_one
{
    width: 340px;
    z-index: 5;
    object-fit: cover;
    height: 150px;
}
}

/*--------------------------------------*/

/*PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP*/
.prod_box
{
    z-index: 5;
    width: 100%;
    background-color:#1e1e1e;
    /* box-shadow: 0 16px 30px 1px #000000; */
    padding: 20px 125px 120px;
    display: flex;
    align-items:center;
    flex-direction: column;
    box-sizing:border-box;
    position: relative;
}
.prod_title h1
{
    margin-top: 50px;
    margin-left: 0;
      font-size:32px ;
      line-height:30px ;
    font-size: calc(29px + 2* (100vw / 1900));
    line-height:calc(31px + 4 * (100vw / 1900));
    margin-bottom: 40px;
    color:#bc8c58;
    /* text-shadow: 0 0 8px #bc8c58; */
    font-weight: 300;
    
}
.prod_title p
{
    
    font-size: calc(17px + 7* (100vw / 1900));
    line-height:calc(14px + 11* (100vw / 1900));
    color:white;
    margin-left: 25px;
    position: relative;
    max-width: 800px;
    margin-bottom: 30px;
    font-weight: 300;
}
 


.prod_title 
{
    text-align: center;
}
.prod_title h1
{
    margin-bottom: 30px;
}

.prod_slider
{
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.slider_prod_item
{
    display: flex;
    justify-content: space-between;
}
.prod_slider .slick-arrow
{
    bottom: -60px;
    right: 0;
    position: absolute;
    font-size: 0;
    width: 50px;
    height: 50px;
    z-index: 10;
    border: none;
    display: none;
}
.prod_slider .slick-arrow.slick-next
{
    
    background: url(./images/right.svg) 0 0/100% no-repeat;
    left: 90%;
}

.prod_slider .slick-arrow.slick-prev
{
    
    background: url(./images/left.svg) 0 0/100% no-repeat;
    left: 85%;
}
.slick-dots 
{
    display: none;
}
.slider-dots
{ 
    position: absolute;
    left: 150px;
    top: 0;
}
.slider-dots__item
{
    box-sizing:border-box;
    background-color:white;
    min-width:200px;
    color: #1e1e1e;
    border-bottom:1px solid black;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items:center;

    
}

.activ
{
    background-color:#3a3a3a;
    color: white;
}
.slider-dots__item p
{
    
    font-size: calc(11px + 7* (100vw / 1900));
    
    font-weight: 300;
    
}
.slider_prod .slick-list 
{
    width: 1050px;
    margin-left: 300px;
    overflow: hidden;
}

.prod_img
{
    width: 525px; /*07.12.2022*/
    height: 419px;/*07.12.2022*/
}
.prod_img img
{
    object-fit: contain;
    width:100%; /*07.12.2022*/
    height: 100%;
    background-color:white;
    
}
.box
{
    width: 525px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color:#3a3a3a;
}
.box_title
{ 
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.box_title h2
{ 
    box-sizing:border-box;
    text-align: center;
    font-weight: 300;
    font-size: calc(17px + 7* (100vw / 1900));
    line-height:calc(14px + 11* (100vw / 1900));
    color:#bc8c58;
    margin-top: 15px;
}
.box_bottom h2
{ 
   
    text-align: left;
    font-weight: 300;
    color:#bc8c58;
    margin-left: 20px;
    
}
.box_info
{
    background-color:#3a3a3a;
    max-width: 550px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
   

}
.box_info_bottom
{
    justify-content:left;
    margin-left: 40px;
}
.line
{
    width: 90%;
    margin: 25px auto ;
    border-bottom: 1px solid #bc8c58;
}
.column
{
    display: flex;
    flex-direction: column;
    
    
}
.p_dots
{
    box-sizing:border-box;
    position: relative;
}
.desc h2
{
    font-size: calc(17px + 7* (100vw / 1900));
    line-height: calc(14px + 11* (100vw / 1900));
}
.p_dots::before 
{
    content:'';
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color:#bc8c58;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}
.column p
{
    margin-top: 10px;
    font-size: calc(15px + 3* (100vw / 1900));
    line-height:calc(12px + 5* (100vw / 1900));
    color:#ffffff;
    font-weight: 300;
    
    
}

@media screen and (max-width: 1700px)
{
.prod_slider
    {
        display: flex;
        flex-direction: column-reverse;
    }
    .slider_prod
    {
        width: 1050px;
        margin: 0 auto ;
        position: relative;
    }
        .prod_box
    {
    
        padding: 40px 25px;
        
    }
    .prod_title p
    {
        margin-left: 0;
    }
    .slider-dots
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 800px;
        position: static;
        margin: 0 auto 30px;
        
    }
    .slider_prod .slick-list {
    
        margin-left:0;
        position: relative;
    
    }
    .prod_slider .slick-arrow.slick-prev
    {
        
        background: url(./images/left.svg) 0 0/100% no-repeat;
        left: 40%;
    }
    .prod_slider .slick-arrow.slick-next
    {
        
        background: url(./images/left.svg) 0 0/100% no-repeat;
        left: 57%;
    }
}
@media screen and (max-width: 1100px)
{
    .slider_prod_item
    {
        display: flex;
        flex-direction: column;
    }
    .slider_prod {
        width: 522px;
        overflow: hidden;
        margin: 0 auto; 
    }
}
@media screen and (max-width: 600px) 
{
    .prod_box 
    {
        padding: 20px 5px ;
    }
    .slider_prod {
        width: 320px;
        
    }
    .box_info
    {
        justify-content: center;
        margin-left: 0;
    }
    .box_title
    {
        margin-top: 0;
    }
   .box_bottom h2
   {
    text-align: center;
    margin-left: 0;
   } 
   .slider-dots
   {
    margin-bottom: 0;
   }
   .slider-dots__item
   {
    min-height: 40px;
    min-width: 320px;
   }
    .prod_box h1
    {
        text-align: center;
        margin-top: 0;
        font-size: 29px;
        line-height: 31px;
        text-shadow: none;
    }
    .prod_box p
    {
        font-size: 15px;
        line-height: 14px;
    }
    .line
    {
        margin: 4px auto;
    }
    .column p
    {
        margin-top: 5px;
        font-size: 12px;
        line-height: 11px;
    }

}
@media screen and (max-width: 430px) 
{
    .prod_box
    {
      
        min-width: 340px;
        box-shadow:none;
    }
    .prod_box h1
    {
        padding: 0 10px; 
        transform: none;
        margin-left: 0;
        text-shadow: none;
    }
    .prod_box p
    {
        padding: 0 5px; 
        transform: none;
        margin-left: 0;
        text-align: center;
    }
}


 /*qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq*/

.var_field
{
 margin-top: 200px;    
}
 #var
{
    margin-top: 10px;
    width: 250px;
    height: 50px;
    background-color:#bc8c58;
    color:#000000;
}

/*galery*/
.keis
{
    box-sizing:border-box;
    background-color: #3a3a3a;
    margin: 60px auto 0;
    max-width: 1700px;
    display: flex;
    padding: 20px 7% 75px;
    flex-direction: column;
    align-items:center;
}




.keis h1
{
    margin-top: 0 auto;

      /* font-size:32px ;
      line-height:30px ; */
    font-size: calc(14px + 18* (100vw / 1900));
    line-height:calc(14px + 18 * (100vw / 1900));
    margin-bottom: 40px;
    color:#bc8c58;
    font-weight: 300;
}


.content_wraper
{
    display: flex;
    justify-content:space-between;
    width: 100%;
}
.gallery_box
{
    display: flex;
    flex-direction: column;
   
    max-width: 720px;
    align-items: left;
    
}
.gallery_field
{
    display: flex;
    justify-content: space-between;
    min-width: 550px;
}
.gal_pic_top
{
    width: 700px;
    height: 510px;
    margin-bottom: 15px;
}
.gal_pic
{
    width: 220px;
    height: 150px;
}
.gal_pic_top .item_gal
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.gal_pic .item_gal
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.keis_info
{
    padding-top: 120px;
   
}
.keis_info_p h3
{
    box-sizing: border-box;
    
    font-weight: 300;
    font-size: calc(17px + 7* (100vw / 1900));
    line-height: calc(14px + 11* (100vw / 1900));
    color: #bc8c58;
    margin-top: 10px;
    margin-bottom: 65px;
}
.keis_info_p p
{

    margin-top: 10px;
    font-size: calc(15px + 3* (100vw / 1900));
    line-height: calc(12px + 5* (100vw / 1900));
    color: #ffffff;
    font-weight: 300;
}
.keis_info .btn
{
    font-weight: 400;
    box-sizing:border-box;
    border-radius:10px;
    margin: 0 auto;
    background-color:#bc8c58;
    padding: 10px 15px;
    width: 228px;
    color:rgb(44, 44, 44);
    font-size: calc(12px + 8* (100vw / 1900));
    line-height:calc(13px + 7 * (100vw / 1900));
}
.price_light
{
    display: flex;
    justify-content: left;
    gap: 150px;
    
}
.price_bold
{
    display: flex;
    justify-content: left;
    gap: 127px;
    
}
@media screen and (max-width:1400px)
{
    .keis
    {
        max-width: 1700px;
        padding: 20px 2% 40px;
    }
}
@media screen and (max-width:1200px)
{
    .gallery_box
    {
        width: 450px;
        height: 300px;
    }
    .gal_pic_top
    {
        width: 450px;
        height: 300px;
    }
    .gal_pic {
        width: 150px;
        height: 100px;
    }
    
}
@media screen and (max-width:1000px)
{
    .content_wraper
    {
        flex-direction: column;
        
    }
    .gallery_box
    {
        margin: 0 auto;
        align-items:center;
    }
    .keis_info
    {
        text-align: center;
    }
    .keis_info_p h3
    {
        margin-bottom: 30px;
    }
    .price_light 
    {
        justify-content: center;
        /* gap: 143px;
        */
    }
    .price_bold 
    {
        justify-content: center;
       
    }
}
@media screen and (max-width:600px)
{
    .keis
    {
        margin: 0 auto;
    }
    .keis h1
    {
        font-size: 29px;
        line-height: 31px;
        text-align: center;
    }
    .keis_info
    {
        padding-top: 70px;
    }
    .gallery_field
    {
        display: flex;
        justify-content: space-between;
        min-width: 320px;
    }
    .keis_info_p h3 
    {
        margin-bottom: 20px;
    }
    .gallery_box
    {
        width: 320px;
        height: 250px;
    }
    .gal_pic_top
    {
        width: 320px;
        height: 250px;
    }
    .gal_pic {
        width: 100px;
        height: 80px;
    }
    .prod_img {
        width: 320px;
        height: 150px;
    }
    .box
    {
        width: 320px;
    }
    .box_info
    {
        margin-bottom: 10px;
    }
}
.video
{
    display: flex;
    justify-content: space-between;
    background-color:#1e1e1e;
    max-width: 1700px;
    margin: 0 auto 50px;
}
.videoWrapper
{
    box-sizing:border-box;
    padding: 20px 125px;
}
.video_item
{
    width: 700px;
    height: 510px;
}
.video_info
{
    display: flex;
    flex-direction: column;
    padding-top:100px;
    padding-right: 125px;
}
.video_info h1
{
 
    font-size: 29px;
    line-height: 31px;
    margin-bottom: 40px;
    color:#bc8c58;
    font-weight: 300;
}
.video_info p
{
    font-size: 25px;
    line-height: 25px;
    font-size: calc(10px + 14* (100vw / 1900));
    line-height: calc(10px + 14* (100vw / 1900));
    color: white;
    padding-top: 20px;
    position: relative;
    font-weight: 300;
}

@media screen and (max-width: 1400px)
{



    .video_item
    {
        width: 500px;
        height: 510px;
    }
        

    .videoWrapper 
    {
        box-sizing: border-box;
        padding: 20px 25px;
    }
        .video_info
    {
        
        padding-top:160px;
        padding-right: 25px;
    }
}
@media screen and (max-width: 1000px)
{



    .video
    {
        flex-direction: column-reverse;
        
    }
    .video_info
    {
        padding: 20px;
        text-align: center;
    }
    .video_item
    {
        height: 250px;
    }
    .videoWrapper{
        display: flex;
       justify-content: center;
    }
    .video_info h1
    {
    margin-bottom: 20px;
    }
 
}
@media screen and (max-width: 1000px)
{

    .video_info h1
    {
        
        margin-bottom: 0;
        
    }
    .videoWrapper{
        padding: 10px 5px 40px;
    }

    .video_item
        {
            width: 340px;
            height: 200px;
        }
    .video_info {
        
            padding: 50px 20px 10px;
        
        
    }
     
}

/*QQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ*/
.quiz
{
    max-width: 1700px;
    margin: 0 auto;
    background-color:#1e1e1e;
    box-sizing:border-box;
    padding: 60px 0;
}
.quiz h1
{
    margin-top: 50px;
    margin-left: 0;
    font-size: 32px;
    line-height: 30px;
    font-size: calc(14px + 18* (100vw / 1900));
    line-height: calc(14px + 18 * (100vw / 1900));
    margin-bottom: 40px;
    color: #bc8c58;
    font-weight: 300;
    text-align: center;
}
.block
{
    max-width: 1900px;
    background-color:#bc8c58;
}
.one, .two, .three ,.four, .five, .form
{
    position: relative;
}
/* .two
{
    position: relative;  
} */

.digit
{
    color:#bc8c58;
    position: absolute;
    left: 420px;
    top: 575px;
}
label
{
    cursor: pointer;
}

.quest .title
{
    font-weight: 600;
    color: #bc8c58;
    font-size: 28px;
    margin-top: 40px;
    margin-left: 40px;
    text-shadow: 0px 0px 4px black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.btn_quiz
{
    position: absolute;
    bottom: 40px;
    left: 632px;
    color: rgb(44, 44, 44);
    font-size: calc(12px + 8* (100vw / 1900));
    line-height: calc(13px + 7 * (100vw / 1900));
    padding: 10px 15px;
    width: 228px;
   background-color:#bc8c58;
   text-align: center;
   border-radius:10px;
   cursor: pointer;
   font-family: 'Roboto', sans-serif;
}
.btn_quiz_prev
{
    position: absolute;
    bottom: 40px;
    left: 60px;
   
    cursor: pointer;
    
    padding: 10px 15px;
    width: 70px;
   background-color:#eebf6200;
   text-align: center;
   border-radius:10px;
   
}
.btn_quiz_prev p
{
    color:white;
    font-size: calc(12px + 8* (100vw / 1900));
    line-height: calc(13px + 7 * (100vw / 1900));
   text-align: center;
 
   
}
.btn_quiz_prev::before
{
    top: 4px;
    content: url(./images/prev.svg);
    width: 38px;
    position: absolute;
    left: -26px;
}

   

.one
{
    box-sizing:border-box;
    display: flex;
    flex-direction: column; 
    padding: 10px;
    
}
.radio_btn
{
 box-sizing:border-box;
}
.radio_btn_two
{
 box-sizing:border-box;
}
.radio_btn_two input
{
 appearance: none;
}


.radio_btn input
{
    appearance: none;
  
 
}
.img_quiz{
    position: relative;
    width: 224px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items:center;
   
}
.img_quiz p{
    color:white;
}
.active_img_quiz
{
    border: 2px solid #bc8c58;
    border-radius: 20px;
}
.img_quiz img{
    width: 100%;
   height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.active_two_quiz
{
    border: 2px solid #bc8c58;
    border-radius: 10px;
    position: relative;
}
.done{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background: url(./images/Безымянный.svg);
    width: 50px;
    height: 50px;
    background-size: contain;
}
.doneT{
    position: absolute;
    top: 50%;
    left: 85%;
    transform:translate(-50%, -50%);
    background: url(./images/Безымянный.svg);
    width: 50px;
    height: 50px;
}  
.one_row
{
    margin:40px 20px 20px;

    display: flex;
    justify-content: space-around;
}
.two_row
{
    margin:20px 20px 40px;
    gap: 40px;
    display: flex;
    justify-content: center;
}





.quiz_box
{
    margin: 0 auto;
    width: 900px;
    height: 700px;
    background-color:#3a3a3a;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    border-radius:20px;
}
.quiz_field
{
    display: flex;
}
.quest
{
    min-width: 900px;
    height: 700px;
}


/*22222222222222222222222222*/
.check_one_quiz {

    
    border:1px solid white;
    height: 50px;
    width: 400px;
    border-radius:10px;
    padding-left: 40px;
    padding-top: 9px;
    
}
.check_one_quiz p{

    font-size: calc(15px + 7* (100vw / 1900));
    line-height: calc(13px + 11* (100vw / 1900));
    color: white;
    
}
.measure_img
{
    width: 470px;
    margin: 50px auto;
   
   
}
.measure_img img
{
    object-fit: contain;
   
    width: 100%;
}

/*22222222222222222222222222*/
/*333333333333333333333333333*/

.three
{
    position: relative;
}
.one_col
{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 60px;
}

.one_col .radio_btn
{
  margin-top: 20px;
}
.map_img
{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 559px;
    top: 142px;
}
.map_img img
{
    object-fit: contain;
   
    width: 100%;
}

/*333333333333333333333333333*/

/*4444444444444444444444444444444444*/
.deliv_img
{
    width: 400px;
    height: 300px;
    margin: 0 auto;
}
.deliv_img img
{
    object-fit: contain;
    margin: 40px auto;
    width: 100%;
}

/*55555555555555555555555555555555555555555555555*/


.bild_img
{
    width: 400px;
    height: 300px;
    margin: 0 auto;
}
.bild_img img
{
    object-fit: contain;
    margin: 40px auto;
    width: 100%;
}
.form_img
{
    color:white;
    text-align: center;
    width: 116px;
    height: 129px;
    position: relative;
}
.form_img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.btn_m
{
    position: absolute;
    right: 40px;
    bottom: 40px;
    position: absolute;
    color: rgb(44, 44, 44);
    font-size: calc(12px + 8* (100vw / 1900));
    line-height: calc(13px + 7 * (100vw / 1900));
    padding: 10px 15px;
    width: 228px;
   background-color:#bc8c58;
   text-align: center;
   border-radius:10px;
   cursor: pointer;
}
.form .one_col
{
    margin-top: 20px;
}
.radio input#email,.radio input#name, .radio input#phone
{
    appearance: none;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
 
}

.one_col #email,.one_col #name, .one_col #phone
{
    margin-left: 30px;
}
.label_form
{
    position: relative;
}
.label_form p
{
    position: absolute;
    left: -385px;
    top: -55px;
    color:white;
}
.thanks
{
    position: absolute;
    display: flex;
    background-color:white;
    z-index: 10;
    flex-direction: column;
    align-items:center;
    border: 2px solid #3a3a3a;
    border-radius: 20px;
    padding: 20px 60px;
}
.thanks .title
{
    color: #3a3a3a;
    text-shadow: none;
        margin-top: 10px;
        font-size: calc(20px + 30* (100vw / 1900));
        line-height: calc(17px + 30 * (100vw / 1900));
        font-family: 'Roboto', sans-serif;
}
.thanks .desk
{
    color: #3a3a3a;
    text-shadow: none;
        margin-top: 0;
        font-size: calc(20px + 12* (100vw / 1900));
        line-height: calc(17px + 11 * (100vw / 1900));
        text-align: center;
        font-family: 'Roboto', sans-serif;
}
.thanks_img
{
    
    width: 600px;
    height: 400px;
}
.thanks_img img
{
    object-fit:cover;
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1100px) {
    .quiz_box
    {
        margin: 0 auto;
        width: 700px;
        height: 700px;
        background-color:#3a3a3a;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        border-radius:20px;
    }
    .quest
    {
        min-width: 700px;
    }
    .img_quiz{
        position: relative;
        width: 180px;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .digit
    {
        position: absolute;
        left: 332px;
    }
    
    .btn_quiz
    {
        left: 510px;
        width: 150px;
        bottom: 46px;
    } 
    .btn_quiz_prev 
    {
        position: absolute;
       bottom: 50px;


    }

    .btn_quiz_prev::before 
    {
        position: absolute;
        top:0;


    }
    .check_one_quiz
    {
        width: 240px;
    }
    .map_img
    {
        left: 360px;
    }
    .btn_m
    {
        width: 150px;
        bottom: 48px;
        
    }
   
}
@media screen and (max-width:720px) {
    .quiz_box
    {
        margin: 0 auto;
        width: 500px;
        height: 500px;
        background-color:#3a3a3a;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        border-radius:20px;
    }
    .quest
    {
        min-width: 500px;
    }
    .img_quiz{
        position: relative;
        width: 140px;
        height: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn_quiz_prev
    {
        position: absolute;
        bottom: 30px;
    }
    .btn_quiz_prev::before
    {
        position: absolute;
        top: -2px;
    }
    .digit
    {
        position: absolute;
        left: 233px;
        top: 395px;
    }
    
    .btn_quiz
    {
        left: 364px;
        width: 100px;
        bottom: 30px;
    } 
    .check_one_quiz
    {
        width: 200px;
    }
    .measure_img {
        width: 330px;
        margin: 50px auto;
    }
    .map_img
    {
        left: 275px;
        width: 175px;
    }
    .btn_m
    {
        width: 100px;
        bottom: 228px;
        padding: 10px 12px;
        font-size: 13px;
    }
    .check_one_quiz p
    {
        font-size: 13px;
        line-height: 11px;

    }
    .one_row
    {
        margin: 40px 10px 10px;
    }
    .one_col
    {
        margin-top: 15px;
        
    }
    .one_col.contact
    {
        margin-top: 40px;
        align-items:center;
    }
    .deliv_img {
        width: 250px;
        height: 300px;
        margin: 0 auto;
    }
    .bild_img {
        width: 270px;
        height: 211px;
        margin: 0 auto;
    }
    .bild_img img {
        object-fit: contain;
        margin: 30px auto;
        width: 100%;
    }
    .form_img
    {
       
        width: 100px;
        height: 100px;
      
    }
    .radio input#email, .radio input#name, .radio input#phone {
        appearance: none;
        height: 30px;
        width: 250px;
        border-radius: 10px;
       margin: 5px auto 10px;
    }
    .label_form p {
        position: absolute;
        left: -247px;
        top: -40px;
        color: white;
        font-size: 13px;
    }

   
}
@media screen and (max-width:500px) {
    
    .quiz_box
    {
        margin: 0 auto;
        width: 360px;
        height: 560px;
        background-color:#3a3a3a;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        border-radius:20px;
    }
    
    .quest
    {
        min-width: 360px;
    }
    .img_quiz{
        position: relative;
        width: 140px;
        height: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;
    }
    .one .title
    {
        text-align: center;
        margin: 10px auto;
    }
    .quest  .title
    {
        text-align: center;
        margin: 10px auto;
    }
    .btn_quiz_prev
    {
        position: absolute;
        bottom: 30px;
    }
    .btn_quiz_prev::before
    {
        position: absolute;
        top: -2px;
    }
    .digit
    {
        position: absolute;
        left: 150px;
        top: 455px;
    }
    
    .btn_quiz
    {
        left: 230px;
        width: 100px;
        bottom: 30px;
    } 
    .check_one_quiz
    {
        width: 200px;
        height: 35px;
    }
    .measure_img {
        width: 330px;
        margin: 50px auto;
    }
    .map_img
    {
        left: 105px;
        width: 150px;
        top: 300px;

    }
    .btn_m
    {
        width: 100px;
        bottom: 168px;
        padding: 10px 12px;
        font-size: 13px;
    }
    .check_one_quiz 
    {
        margin-bottom: 10px;
    }
    .check_one_quiz p
    {
        font-size: 13px;
        line-height: 11px;

    }
    .one_row
    {
        margin: 5px 10px 0;
        flex-wrap: wrap;
    }
    .two_row {
        margin: -20px 20px 0px;
        gap: 20px;
    }
    .one_col
    {
        
        align-items:center;
        margin-left: 0;
        
    }
    .one_col .radio_btn {
        margin-top: 0;
    }
    .one_col.contact
    {
        margin-top: 40px;
        align-items:center;
    }
    .deliv_img {
        width: 250px;
        height: 300px;
        margin: 0 auto;
    }
    .bild_img {
        width: 270px;
        height: 211px;
        margin: 0 auto;
    }
    .bild_img img {
        object-fit: contain;
        margin: 30px auto;
        width: 100%;
    }
    .form_img
    {
       
        width: 80px;
        height: 80px;
      
    }
    .radio input#email, .radio input#name, .radio input#phone {
        appearance: none;
        height: 30px;
        width: 250px;
        border-radius: 10px;
       margin: 5px auto 10px;
    }
    .label_form p {
        position: absolute;
        left: -247px;
        top: -40px;
        color: white;
        font-size: 13px;
    }
    .thanks_img {
        width: 310px;
        height: 200px;
    }
    .thanks
    {
        padding: 0;
      

    }
    .thanks_img
     {
        width: 310px;
        height: 200px;
        margin-top: 75px;
    }
}  






/*QQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ*/

footer
{
    width: 100%;
    max-height: 300px;
}