body
{
    position: relative;
    margin: 0;
    padding: 0;
    background-color:white;
    /* height: auto; */
}
.no_select
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
p , h1,h2,h3, span, a
{
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', sans-serif;
}
a
{
    text-decoration: none;
    color: white;
}
a:hover
{
    text-decoration: none;
    color: white;
}

.container
{
    position: relative;
    max-width: 1700px;
    margin: 0 auto;
    /* height: 100vh; */


    
   
   
    
  
}
.nav
{
    width: 100%;
   
    background-color:#080303;
    display: flex;
    justify-content: space-evenly;
    padding: 14px;
    position: fixed;
    align-items:center;
    z-index: 5;
}
nav a:hover
{
    color: white;
}

.nav_mob
{
 background-color: rgba(53, 38, 38, 0);
 display: none;
 justify-content: space-between;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 5;
 width: 100%;
 padding: 20px 15px;
}
.icon
{
    width: 40px;
    height: 40px;
}
.logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.phone
{
    margin-left: 50px;
    position: relative;
}
.phone::before
{
    content:url(./images/icons8-iphone-x-50.png);
    width: 50px;
    height: 50px;
    position: absolute;
    left: -45px;
    top: -15px;


}
.menu
{
    display: flex;
    justify-content: space-around;
    gap: 70px;
}
.menu_item {
   
    font-size: calc(12px + 8* (100vw / 1900));
    line-height:calc(12px + 8 * (100vw / 1900)); 
    color:white;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s;
}
.menu_item:hover
{
    color: #bc8c58;
    
    transition: all 0.5s;
}
.top
{
    background:url(./images/sect-bg-1.webp);
    padding: 10px;
    height: 100vh;
    display: flex;
    justify-content: left;
    padding-top: 50px;

}
.content
{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    padding: 90px 90px;
}
.img_box
{
    margin-top: 10%;
    max-width: 900px;/*07.12.2022*/
    max-height: 500px;/*07.12.2022*/
    right: 1%;
    position: absolute;
}
.img_top
{
    object-fit:cover;
    width: 100%;
    height: 100%;
    border-radius:15px;
   
}
.top h1
{
    max-width: 1200px;
    color:#bc8c58;
    font-size: calc(20px + 30* (100vw / 1900));
    line-height:calc(25px + 30 * (100vw / 1900));
    font-weight: 400;
}
.top .mobil_h1
{
    display: none;
    max-width: 1200px;
    color:#bc8c58;
    font-size: calc(29px + 30* (100vw / 1900));
    line-height:calc(26px + 30 * (100vw / 1900));
}
.top .btn
{
    
    
    
   background-color: #6f9737;
   box-sizing: border-box;
   border: none;
   font-family: inherit;
   max-width: 400px;
   border-radius: 15px;
   padding: 20px 0;
   color: #fff;
   outline: none;
   text-transform: uppercase;
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.3s;
   margin-top: 45px;
    
    margin-bottom: 25px;
}


.top .btn:hover
{
    background-color: #455f22;
}

.top p
{
    
    color:white;
    font-size: calc(17px + 7* (100vw / 1900));
    line-height:calc(14px + 11* (100vw / 1900));
    font-weight: 300;
}

.why
{

    background-color:#1e1e1e;
    position: relative;
    z-index: 4;
  
   
    min-width: 0;
    
    display:flex;
    
   
    
}
.why_right
{
    background: url(./images/sect-bg-2.webp);
    width: 100%;
    padding: 110px 80px;
}
.why_right .bold
{
   
      font-size:32px ;
      line-height:30px ;
    font-size: calc(36px + 6* (100vw / 1900));
    line-height:calc(36px + 6 * (100vw / 1900));
    margin-bottom: 40px;
    color:#bc8c58;
    font-weight: 600;
    /* text-shadow: 0 0 8px #bc8c58; */
    
}
.why_right span
{
   
      font-size:32px ;
      line-height:30px ;
    font-size: calc(36px + 6* (100vw / 1900));
    line-height:calc(36px + 6 * (100vw / 1900));
    margin-bottom: 40px;
    color:#bc8c58;
    font-weight: 400;
    /* text-shadow: 0 0 8px #bc8c58; */
    
}
.why_right p
{

    font-size:25px ;
    line-height:25px ;
    font-size: calc(19px + 1* (100vw / 1900));
    line-height:calc(19px + 1* (100vw / 1900));
    color:white;
    margin-bottom: 20px;
    margin-left: 25px;
    position: relative;
}
.why_right p::before
{
    content: "";
    position: absolute;
    left: -25px;
    top: 50%;
   transform: translateY(-50%);
    width:10px;
    height:10px;
    border-radius:10px;
    background-color:#bc8c58;
    
}
/*---------------------SLIDER-----------------*/
.slider
{
    position: relative;
    min-width: 0;
    /* max-width: 700px; */
   
    
}
.slider__item /*07.12.2022*/
{
    max-width: 920px;/*07.12.2022*/
    max-height: 620px;/*07.12.2022*/
}
.slider__item img
{
    width: 100%;
    height: 70%;
}
.text
{
    padding-top: 30px;
     padding-bottom: 20px;
    background-color:#ffffff;
    min-height: 186px;
    text-align: center;
     padding-left: 36.5%;
     border-left: 1px solid rgb(68, 68, 68);
}
.text h2
{
  
    font-size: 24px;
    line-height:24px;
    color: #bc8c58;
    
    font-weight: 400;
    padding-bottom: 20px;
    
}
.text p
{
    
    font-size: 16px;
    line-height:19px;
    color: #595959;
    font-weight: 400;
   
}
.slider .slick-list
{
    max-width: 920px;
    overflow: hidden;
    height: 600px;
}
.slick-list .draggable
{
    height: 600px;
}
.slick-track
{
   
    display: flex;
}

.why_right .slick-arrow
{
    font-size: 0;
    position: absolute;
    bottom:10px;
    width: 60px;
    height: 50px;
    z-index: 10;
    border: none;
    
}
.why_right .slick-arrow.slick-next
{
    
    background:url(./images/left-arrow.svg)0 0/50% no-repeat;
    background-position: center;
    background-color: white;
    
    right: 616px;
}

.why_right .slick-arrow.slick-prev
{
    
    background:url(./images/right-arrow.svg)0 0/50% no-repeat;
    background-position: center;background:url(./images/right-arrow.svg)0 0/50% no-repeat;
    background-position: center;
    background-color: #6f9737;
    right: 556px;
}

.videoWrapper.one
{
    max-width: 1700px;
    background-color:#1e1e1e;
    display: flex;
    justify-content: center;
}
.video_item_one
{
    width: 1050px;
    margin: 0 auto;
    
}

/*PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP*/
.prod_box
{
    z-index: 4;
    width: 100%;
    
   
    background-color:#ffffff;
    /* box-shadow: 0 16px 30px 1px #595959; */
    padding: 110px 125px 0;
    display: flex;
    align-items:center;
    flex-direction: column;
    box-sizing:border-box;
    position: relative;
}
.prod_box_BG
{
    position: absolute;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    background: url(./images/sect-bg-3\ \(1\).webp);
}
.prod_text
{
    width: 72%;
    margin: auto;
   


}
.prod_title h1
{
    position: relative;
    line-height:30px;
    font-size: 42px;
    margin-bottom: 40px;
    color:#252525;
    font-weight: 500;
    
}
.prod_title p
{
    text-align: left;
    color:rgb(27, 27, 27);
   
    position: relative;
    max-width: 800px;
    margin-bottom: 50px;
    font-weight: 400;
    max-width: 450px;
    font-size: 14px;
    letter-spacing: 1px;
}
 





.prod_slider
{
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 22px 1px #7a7a7a;
}
.slider_prod_item
{
    display: flex;
    justify-content: space-between;
}
.prod_slider .slick-arrow
{
    bottom: -80px;
    
    position: absolute;
    font-size: 0;
    width: 60px;
    height: 50px;
    z-index: 10;
    border: none;
    display: none;
}

.prod_slider .slick-arrow.slick-next
{
    
    background:url(./images/right-arrow.svg)0 0/50% no-repeat;
    background-position: center;
    border: 1px solid #6c6c6c;
    border-radius: 5px;
    opacity: 50%;
    width: 90px;
    height: 60px;
    transition: all 0.3s;
    left: 59%;
    
}
.prod_slider .slick-arrow.slick-next:hover
{
    
    background:url(./images/right-arrow.svg)0 0/50% no-repeat;
    background-color:#6f9737;
    opacity: 100%;
    background-position: center;
    transition: all 0.3s;
}

.prod_slider .slick-arrow.slick-prev
{
    
    background: url(./images/left-arrow.svg) 0 0/50% no-repeat;
    background-position: center;
    border: 1px solid #6c6c6c;
    opacity: 50%;
    width: 90px;
    height: 60px;
    border-radius: 5px;
    transition: all 0.3s;
    left: 52%;
}   
.prod_slider .slick-arrow.slick-prev:hover
{
    
    background: url(./images/left-arrow.svg) 0 0/50% no-repeat;
    background-color:#6f9737;
    opacity: 100%;
    background-position: center;
    transition: all 0.3s;
} 
.slick-dots 
{
    display: none;
}
.slider-dots
{ 
    position: absolute;
    left: 0;
    top: 0;
}
.slider-dots__item
{
    box-sizing:border-box;
    background-color:white;
    min-width:200px;
    color: #1e1e1e;
    border-bottom:1px solid #bababa;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items:center;

    
}

.activ
{
    background-color:#6f9737;
    color: white;
}
.slider-dots__item p
{
    
    font-size: calc(11px + 7* (100vw / 1900));
    
    font-weight: 300;
    
}
.slider_prod .slick-list 
{
    width: 1260px;
    margin-left: 235px;
    overflow: hidden;
   
}

.prod_img
{
    width: 651px; /*07.12.2022*/
    height: 419px;/*07.12.2022*/
}
.prod_img img
{
    object-fit: contain;
    width:100%; /*07.12.2022*/
    height: 100%;
    background-color:white;
    
}
.box
{
    width: 650px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background:url(./images/sect-bg-2.webp);
   
}
.box_title
{ 
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.box_title h2
{ 
    box-sizing:border-box;
    text-align: center;
    font-weight: 500;
    font-size: calc(17px + 7* (100vw / 1900));
    line-height:calc(14px + 11* (100vw / 1900));
    color:#bc8c58;
    margin-top: 15px;
}
.box_bottom h2
{ 
   
    text-align: left;
    font-weight: 500;
    color:#bc8c58;
    margin-left: 20px;
    
}
.box_info
{
    
    max-width: 550px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
   

}
.box_info_bottom
{
    justify-content:left;
    margin-left: 40px;
}
.line
{
    width: 90%;
    margin: 25px auto ;
    border-bottom: 1px solid #bc8c58;
}
.column
{
    display: flex;
    flex-direction: column;
    
    
}
.p_dots
{
    box-sizing:border-box;
    position: relative;
}
.desc h2
{
    font-size: calc(17px + 7* (100vw / 1900));
    line-height: calc(14px + 11* (100vw / 1900));
}
.p_dots::before 
{
    content:'';
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color:#bc8c58;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}
.column p
{
    margin-top: 10px;
    font-size: calc(15px + 3* (100vw / 1900));
    line-height:calc(12px + 5* (100vw / 1900));
    color:#ffffff;
    font-weight: 300;
    
    
}
.form_box
{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 120px 0;
    padding: 0 20px;
   
    
}
.two,.form_box .popup
{
    position: relative;
    top: 0;
    left: 0;
    border: none;
    transform: none;
    z-index: 3;
}
.form_box.two
{
    margin: 150px auto;
}
.form_text
{
    margin-top: 70px;
    margin-right: 70px;
}
.form_text h2
{
    font-size: 36px;
    color:#bc8c58;
    font-weight: 400;
    padding-bottom: 30px;
}
.form_text p
{
    font-weight: 400;
    font-size: 24px;
    min-width: 620px;
    
}
.modal_static
{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}
.modal_static input
{
    width: 400px;
    height: 60px;
    margin:  12px auto;
    appearance: none;
   
    box-sizing: border-box;
    padding: 20px;
    background-color: #e3e9da;
    border-radius: 5px;
    border: none;
}
.modal_static label
{
    font-size: 10px;
    font-weight: 300;
    color: #000;
}
.modal_static .btn_modal
{
    background-color: #6f9737;
    box-sizing: border-box;
    border: none;
    font-family: inherit;
    width: 100%;
    border-radius: 2px;
    padding: 20px 0;
    color: #fff;
    outline: none;
    text-transform: uppercase;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    margin-top: 20px;
}
.modal_static .btn_modal:hover
{
    background-color: #455f22;
}

.modal_static .btn_modal:after
{
    content: "";
    width: 45px;
    height: 22px;
    margin-top: -2px;
    margin-bottom: -2px;
    background: url(./images/arrow.webp) no-repeat;
    display: block;
    margin-left: 24%;
}


 /*qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq*/

 .keis_info
 {
    min-width: 550px;
    padding-top: 70px;
    
 }
 .keis_info_p .btn_modal
 {
    background-color: #6f9737;
    box-sizing: border-box;
    border: none;
    font-family: inherit;
    max-width: 400px;
    border-radius: 15px;
    padding: 20px 0;
    color: #fff;
    outline: none;
    text-transform: uppercase;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    margin-top: 20px;
}
.keis_info_p .btn_modal:hover
{
    background-color: #455f22;
}

.keis_info_p .btn_modal:after
{
    content: "";
    width: 45px;
    height: 22px;
    margin-top: -2px;
    margin-bottom: -2px;
    background: url(./images/arrow.webp) no-repeat;
    display: block;
    margin-left: 24%;
}

.var_field
{
 margin-top: 200px;    
}
 #var
{
    margin-top: 10px;
    width: 250px;
    height: 50px;
    background-color:#bc8c58;
    color:#595959;
}

/*galery*/
.keis
{
    box-sizing:border-box;
    background-color: #1e1e1e;
    margin: 0 auto 190px;
    max-width: 1700px;
    display: flex;
    padding: 20px 7% 70px;
    flex-direction: column;
    align-items:center;
    position: relative;
}




.keis h1
{
    margin-top:80px;

    font-size: calc(14px + 18* (100vw / 1900));
    line-height:calc(14px + 18 * (100vw / 1900));
    margin-bottom: 40px;
    color:#bc8c58;
    font-weight: 500;
}


.content_wraper
{
    display: flex;
    justify-content:space-between;
    width: 100%;
}
.gallery_box
{
    display: flex;
    flex-direction: column;
   
    max-width: 720px;
    align-items: left;
    
}
.gallery_field
{
    display: flex;
    justify-content: space-between;
    min-width: 550px;
}
.gal_pic_top
{
    width: 700px;
    height: 510px;
    margin-bottom: 15px;
}
.gal_pic
{
    width: 200px;
    height: 100px;
}
.gal_pic_top .item_gal
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.gal_pic .item_gal
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.keis_info_p h3
{
    box-sizing: border-box;
    
    font-weight: 400;
    font-size: calc(17px + 7* (100vw / 1900));
    line-height: calc(14px + 11* (100vw / 1900));
    color: #bc8c58;
    margin-top: 10px;
    margin-bottom: 40px;
}
.keis_info_p p
{

    margin-top: 10px;
    font-size: calc(15px + 3* (100vw / 1900));
    line-height: calc(12px + 5* (100vw / 1900));
    color: #ffffff;
    font-weight: 300;
}
.keis_info .btn
{
    font-weight: 400;
    box-sizing:border-box;
    border-radius:15px;
    margin: 0 auto;
    background-color:#bc8c58;
    padding: 10px 15px;
    width: 228px;
    color:rgb(44, 44, 44);
    font-size: calc(12px + 8* (100vw / 1900));
    line-height:calc(13px + 7 * (100vw / 1900));
}
.price_light
{
    display: flex;
    justify-content: left;
    gap: 150px;
    
}
.price_bold
{
    display: flex;
    justify-content: left;
    gap: 127px;
    
}
.video
{
    display: flex;
    justify-content: space-between;
    background:url(./images/sect-bg-2.webp);
    max-width: 1700px;
    margin: 0 auto ;
    position: relative;
}
.videoWrapper
{
    box-sizing:border-box;
    padding: 20px 100px;
}
.video_item
{
    width: 800px;
    height: 510px;
}
.video_info
{
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
    padding-top:100px;
    padding-right: 280px;
}
.video_info h1
{
 
    font-size: 29px;
  
    margin-bottom: 40px;
    color:#bc8c58;
    font-weight: 500;
    line-height: 1.4;
}
.video_info h1 span
{
 
    font-size: 36px;
    
    margin-bottom: 40px;
    color:#bc8c58;
    font-weight: 500;
    line-height: 1.4;
}
.video_info p
{
    font-size: 25px;
    line-height: 25px;
    font-size:14px;
    color: white;
    padding-top: 20px;
    position: relative;
    font-weight: 300;
}
.brend_field
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -70px;
    display: flex;
    justify-content: space-between;
    background-color:white;
    box-shadow: 0px 15px 49px 0px rgb(33 33 33 / 9%);
    height: 140px;
    align-items:center;
    transition: all 0.3s;
}
.brend_item
{
    width: 200px;
    height: 100px;
    transition: all 0.3s;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.brend_item:hover
{
    width: 200px;
    height: 100px;

   
    filter: none;
}
.brend_item img
{
    width: 100%;
    height:  100%;
    object-fit: contain;
    object-position: center;
}
.box_btn
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -130px;
    display: flex;
    justify-content: space-between;
    background-color:white;
    box-shadow: 0px 15px 49px 0px rgb(33 33 33 / 9%);
    
    align-items:center;
    transition: all 0.3s;
    width: 1200px;
    padding: 35px;
   box-sizing:border-box;

   
}
.box_btn h2 {
    cursor: pointer;
    font-size: 36px;
    color: #6f9737;
    font-weight: 400;
    transition: all 0.3s;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    background-color:white;
    position: relative;
}
.box_btn h2::after {
    content:'\2192';
    font-size: 60px;
    right: -200px;
    top: 0px;
    position: absolute;
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    0% {
      transform: translateX(20px);
    }
    100% {
        transform: translateX(-20px);
    }
  }
.box_btn h2:hover {
    transition: all 0.3s;
    filter: none;
   
}







/*QQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ*/
.quiz
{
    max-width: 1700px;
    margin: 100px auto;
    background-color:#ffffff;
    box-sizing:border-box;
    padding: 30px 0;
}
.quiz h1
{
    margin-top: 10px;
    margin-left: 0;
    
    line-height: 30px;
    font-size: calc(14px + 18* (100vw / 1900));
    line-height: calc(14px + 18 * (100vw / 1900));
    margin-bottom: 40px;
    font-size: 36px;
    color: #bc8c58;
    font-weight: 400;
    
    text-align: center;
}
.block
{
    max-width: 1900px;
    background-color:#bc8c58;
}
.one, .two, .three ,.four, .five, .form
{
    position: relative;
}
/* .two
{
    position: relative;  
} */

.digit
{
    color:#bc8c58;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 575px;

}
label
{
    cursor: pointer;
}

.quest .title
{
    font-weight: 600;
    color: #ffffff;
    font-size: 28px;
    margin-top: 40px;
    margin-left: 40px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.btn_quiz
{
    position: absolute;
    bottom: 40px;
    right: 4%;
   background-color: #6f9737;
   box-sizing: border-box;
   border: none;
   font-family: inherit;
   width: 200px;
   border-radius: 15px;
   padding: 10px 0;
   color: #fff;
   outline: none;
   text-transform: uppercase;
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.3s;
   margin-top: 20px;
}
.btn_quiz:hover
{
    background-color: #455f22;
}
.btn_quiz_prev
{
    position: absolute;
    bottom: 40px;
    left: 60px;
   
    cursor: pointer;
    
    padding: 10px 15px;
    width: 70px;
   background-color:#eebf6200;
   text-align: center;
   border-radius:15px;
   
}
.btn_quiz_prev p
{
    color:white;
    font-size: calc(12px + 8* (100vw / 1900));
    line-height: calc(13px + 7 * (100vw / 1900));
   text-align: center;
 
   
}
.btn_quiz_prev::before
{
    top: 4px;
    content: url(./images/prev.svg);
    width: 38px;
    position: absolute;
    left: -26px;
}

   

.one
{
    box-sizing:border-box;
    display: flex;
    flex-direction: column; 
   
    
}
.one_box
{
    padding: 0 75px;
}
.radio_btn
{
 box-sizing:border-box;
}
.radio_btn_two
{
 box-sizing:border-box;
}
.radio_btn_two input
{
 appearance: none;
}


.radio_btn input
{
    appearance: none;
  
 
}
.img_quiz{
    position: relative;
    width: 300px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items:center;
   
}
.img_quiz p{
    color:white;
    font-size:25px;
}
.active_img_quiz
{
    border: 4px solid #bc8c58;
    border-radius: 20px;
}
.img_quiz img{
    width: 100%;
   height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.active_two_quiz
{
    border: 2px solid #bc8c58;
    border-radius: 10px;
    position: relative;
}
.done{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background: url(./images/Безымянный.svg);
    width: 50px;
    height: 50px;
    background-size: contain;
}
.doneT{
    position: absolute;
    top: 50%;
    left: 85%;
    transform:translate(-50%, -50%);
    background: url(./images/Безымянный.svg);
    width: 50px;
    height: 50px;
}  
.one_row
{
    margin:40px 20px 50px;

    display: flex;
    justify-content: space-around;
}
.two_row
{
    margin:20px 20px 40px;
    
    display: flex;
    justify-content: space-evenly;
}





.quiz_box
{
    margin: 0 auto;
    width: 1300px;
    height: 700px;
   background-color: #1e1e1e;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    border-radius:20px;
   
    box-shadow: 0px 15px 28px 4px rgb(0 0 0 / 49%);
}
.quiz_field
{
    display: flex;
}
.quest
{
    min-width: 1300px;
    height: 700px;
}


/*22222222222222222222222222*/
.check_one_quiz {

    
    border:1px solid white;
    height: 50px;
    width: 400px;
    border-radius:10px;
    padding-left: 40px;
    padding-top: 9px;
    
}
.check_one_quiz p{

    font-size: calc(15px + 7* (100vw / 1900));
    line-height: calc(13px + 11* (100vw / 1900));
    color: white;
    
}
.measure_img
{
    width: 470px;
    margin: 50px auto;
   
   
}
.measure_img img
{
    object-fit: contain;
   
    width: 100%;
}

/*22222222222222222222222222*/
/*333333333333333333333333333*/

.three
{
    position: relative;
}
.three_box
{
    padding: 0 75px;
    display: flex;
    justify-content: space-around;
}
.one_col
{
    display: flex;
    flex-direction: column;
   
    margin-top: 80px;
}

.one_col .radio_btn
{
  margin-top: 20px;
  display: flex;
}
one_col .contact
{
    display: flex;
}
.map_img
{
    width: 300px;
    height: 300px;
    margin-top: 60px
   
}
.map_img img
{
    object-fit: contain;
   
    width: 100%;
}

/*333333333333333333333333333*/

/*4444444444444444444444444444444444*/
.deliv_img
{
    width: 400px;
    height: 300px;
    margin: 0 auto;
}
.deliv_img img
{
    object-fit: contain;
    margin: 40px auto;
    width: 100%;
}

/*55555555555555555555555555555555555555555555555*/


.bild_img
{
    width: 400px;
    height: 300px;
    margin: 0 auto;
}
.bild_img img
{
    object-fit: contain;
    margin: 40px auto;
    width: 100%;
}
.form .one_row {
    margin: 50px auto 0;
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
}
.form_img
{
    color:white;
    text-align: center;
    width: 116px;
    height: 129px;
    position: relative;
}
.form_img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
.btn_m
{
    position: absolute;
    bottom: 40px;
    right: 4%;
   background-color: #6f9737;
   box-sizing: border-box;
   border: none;
   font-family: inherit;
   width: 200px;
   border-radius: 15px;
   padding: 10px 0;
   color: #fff;
   outline: none;
   text-transform: uppercase;
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.3s;
   margin-top: 20px;
}

.btn_m:hover
{
    background-color: #455f22;
}
.form .one_col
{
    margin: 40px auto;
    max-width: 400px;
}
.radio input#email,.radio input#name, .radio input#phone
{
    appearance: none;
    height: 50px;
    width: 400px;
    border-radius: 10px;
   
    margin-bottom: 5px;
    
 
}

.one_col #email,.one_col #name, .one_col #phone
{
    margin-left: 30px;
}
.label_form
{
    position: relative;
}
.label_form p
{
    position: absolute;
    left: 32px;
    top: -102px;
    color:white;
    min-width: 150px;
}
.thanks
{
    position: absolute;
    display: flex;
    background-color:white;
    z-index:4;
    flex-direction: column;
    align-items:center;
    border: 2px solid #3a3a3a;
    border-radius: 20px;
    padding: 20px 60px;
}
.thanks .title
{
    color: #3a3a3a;
    text-shadow: none;
        margin-top: 10px;
        font-size: calc(20px + 30* (100vw / 1900));
        line-height: calc(17px + 30 * (100vw / 1900));
        font-family: 'Roboto', sans-serif;
}
.thanks .desk
{
    color: #3a3a3a;
    text-shadow: none;
        margin-top: 0;
        font-size: calc(20px + 12* (100vw / 1900));
        line-height: calc(17px + 11 * (100vw / 1900));
        text-align: center;
        font-family: 'Roboto', sans-serif;
}
.thanks_img
{
    
    width: 600px;
    height: 400px;
}
.thanks_img img
{
    object-fit:cover;
    width: 100%;
    height: 100%;
}



/*QQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ*/

.footer
{
    position: relative;
    max-width: 1700px;
    height: 600px;
    margin: 0 auto;
    
    z-index: 3;
}
.footer:hover
{
   
    
}
.frame
{
    -webkit-filter: grayscale(60%);
    -moz-filter: grayscale(60%);
    -ms-filter: grayscale(60%);
    -o-filter: grayscale(60%);
    filter: grayscale(60%);
    filter: gray;
    transition: all 0.3s;
}
.frame:hover
{
    -webkit-filter: grayscale(15%);
    -moz-filter: grayscale(15%);
    -ms-filter: grayscale(15%);
    -o-filter: grayscale(15%);
    filter: grayscale(15%);
    transition: all 0.3s;
    filter: gray;
}
.contacts
{
    padding: 90px 90px 0 ;
    max-width: 550px;
    background:url(./images/sect-bg-2.webp);
    height: 650px;
    position: absolute;
    top: -50px;
    left: 15%;
    z-index: 10;
    
   
}

.contacts h1
{
    font-size: 36px;
   
    line-height: 46px;
    color: #bc8c58;
    padding-bottom: 30px;
}
.office
{
    color: #bc8c58;
    font-size: 14px;
    padding-bottom: 20px;
}
.address
{
    color: #c2c2c2;
    font-size: 16px;
    padding-bottom: 20px;
    font-weight: 600;
}
.worktime
{
    color: #fff;
    
    font-size: 14px;
    padding-bottom: 5px;
}
.phonef
{
    color: #bc8c58;
    font-size: 14px;
    padding-top: 40px;
    padding-bottom: 20px;
    
}
.contacts a
{
    font-weight: 600;
    
}
.contacts a:hover{
    color: white;
}

.popup-fade
{
    display: none;
   
}
.popup {
    box-sizing: border-box;
    min-height: 410px;
    width: 500px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px 48px;   
    font-family: 'Roboto', sans-serif;
    background: #fff;
    border: 1px solid orange;
    border-radius: 4px;
    z-index: 99999;
    opacity: 1;
    display: flex;
    flex-direction: column;
}
.formS
{
    position: relative;
}
 label
{
    font-size: 10px;
    font-weight: 300;
    color: #000;
}
.popup input
    {
        width: 100%;
        height: 60px;
        margin: 0;
        appearance: none;
        box-sizing: border-box;
        padding: 15px;
        background-color: #e3e9da;
        border-radius: 5px;
        border: none;
    }
.popup_btn
    {
        background-color: #6f9737;
        box-sizing: border-box;
        border: none;
        font-family: inherit;
        width: 400px;
        border-radius: 15px;
        padding: 20px 0;
        color: #fff;
        outline: none;
        text-transform: uppercase;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        margin-top: 45px;
         
         margin-bottom: 25px;
     }
     
     
    .btn_m:hover
     {
         background-color: #455f22;
     }
     
.popup-fade:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
    overflow-y: hidden;
}
#popup-close {
    position: absolute;
    top: -15px;
    right: -23px;
    color: #000;
   
    
}
 a:hover
{
    color: #000;
}
#message
{
    display: none;
}

.alert {
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 45px;
}
.alert-success {
    border: 1px solid orange;
    --bs-alert-color: #ffffff;
    --bs-alert-bg: #6f9737;
    --bs-alert-border-color: #badbcc;
}
#load
{
    display: none;
} 

@media screen and (max-width:1700px){

    .prod_box
    {
        padding: 104px 40px;
    }
    .slider_prod .slick-list {
       
        margin-left: 170px;
        overflow: hidden;
    }
    .prod_slider
    {
        width: auto;
    }

}
@media screen and (max-width:1500px){

    .why_right .slick-arrow {
        font-size: 0;
        position: absolute;
        top: 20px;
    }
    .prod_slider .slick-arrow.slick-prev
    {
        left: 49%;
    }
    .prod_box
    {
        padding: 104px 0;
    }
    .prod_text {
        width: 85%;
        margin: auto;
    }
    .slider_prod .slick-list {
        width: 1200px;
        margin-left: 170px;
        overflow: hidden;
    }
    .prod_slider
    {
        width: auto;
    }
    .video_info {
    
    padding-right: 50px;
    }
    .gal_pic_top {
        width: 500px;
        height: 510px;
        margin-bottom: 15px;
    }
    .gallery_field {
        display: flex;
        justify-content: space-between;
        min-width: 500px;
    }
    .gal_pic {
        width: 150px;
        height: 80px;
    }
}
@media screen and (max-width:1400px){
    .slider_prod_item {
        display: flex;
        justify-content: center;
    }
    .slider_prod .slick-list {
        width: 1000px;
        margin-left: 190px;
        overflow: hidden;
    }
    .prod_img {
        max-width: 500px;
        height: 300px;
    }
    .slider .slick-list {
        max-width: 700px;
        overflow: hidden;
    }
    .slider__item {
        max-width: 700px;
        height: 900px;
    }
    .why_right {
        box-sizing:border-box;
        padding: 55px 80px;
        max-width: 900px;
    }
    .text
    {
        min-height: 222px;
        padding-left: 20px;
        padding-right: 60px;
        text-align: left;
    }
    .quiz_box {
        width: 1100px;
    }
    .quest {
        min-width: 1100px;
        height: 700px;
    }
    .video_item {
    width: 600px;
    height: 510px;
    }
    .keis
    {
        padding: 20px 2% 75px;
    }
}
@media screen and (max-width:1200px){
    .slider-dots
    {
        display: none;
    }
    .slider_prod .slick-list {
        width: 1100px;
        margin-left: 0;
        overflow: hidden;
    }
    .prod_slider {
        width: 1100px;
    }
    .form_box {
   
    width: 1000px;
    
    }
    
    .keis_info
    {
        padding-left: 25px;
    }
    .quiz_box {
        width: 900px;
    }
    .quest {
        min-width: 900px;
        
    }
    .brend_field
    {
        display: none;
    }
    .box_btn
    {
        display: none; 
    }
}
@media screen and (max-width:1100px){

    .prod_slider {
        width: 1000px;
    }
    .slider_prod .slick-list {
        width: 1000px;
        
    }
    .slider .slick-list {
        max-width: 500px;
        overflow: hidden;
    }
    .slider__item {
    max-width: 500px;
    height: 812px;
    }
    .why_right {
        
        padding: 55px 80px;
        max-width: 890px;
    }
    .text
    {
        min-height: 307px;
    }
    .slider__item img {
        width: 100%;
        height: 62%;
    }
}
@media screen and (max-width:1000px){

    .why {
        
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .why_right {
        padding: 55px 80px;
        max-width: 1000px;
    }
    .slider .slick-list {
        max-width: 1000px;
        overflow: hidden;
    }
    .slider__item {
        max-width: 1000px;
        height: 812px;
        }

        .prod_slider {
            width: 800px;
        }
        .slider_prod .slick-list {
            width: 800px;
            
        }
        .form_box {
            justify-content: center;
            padding: 20px;   
             }
             .form_text {
                margin-top: 70px;
                max-width: 500px;
            }
             .form_text p {
                font-weight: 400;
                font-size: 24px;
                min-width: 400px;
            }
            .video_item {
                width: 400px;
                height: 510px;
            }
            .keis_info {
                min-width: 420px;
                padding-top: 70px;
            }
            .why_right .slick-arrow {
                font-size: 0;
                position: absolute;
                top: 450px;
            }
            
            .why_right .slick-arrow.slick-next {
       
                right: 80px;
            }
    .why_right .slick-arrow.slick-prev {
       
        right: 22px;
    }
    .videoWrapper {
        box-sizing: border-box;
        padding: 20px 30px;
        max-width: 1700px;
    }
    .video_item {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .prod_slider .slick-arrow.slick-prev {
        left: 45%;
    }
}
@media screen and (max-width:585px){
    .popup-fade .popup
    {
        padding: 30px 15px 30px 15px;
    }
    .popup {
        box-sizing: border-box;
        min-height: 410px;
        width: 320px;
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        padding: 30px 15px 30px 35px;
        font-family: 'Roboto', sans-serif;
        background: #fff;
        border: 1px solid orange;
        border-radius: 4px;
        z-index: 99999;
        opacity: 1;
        display: flex;
        flex-direction: column;
    }
    .popup_btn
    {
       
        width: 100%;
     
     }
     #popup-close
     {
        position: absolute;
        top: -15px;
        right: 0px;
     }
    .nav_mob
    {
        display: flex;
    }
    .phone {
        margin-left: 50px;
        position: relative;
        padding-top: 8px;
    }
    .phone::before {
        
        top: -6px;
    }
    .content {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        
    }
    .img_box
    {
        display: none;
    }
    .top
    {
        height: 100vh;
    }
    .top h1
    {
        margin-bottom: 50px;
        text-align: center;
        font-size: 36px;
        margin-top: 80px;
    }
    .top p
    {
        font-size: 12px;
    }
    .why_right {
        padding: 20px;
        max-width: 1000px;
    }
    .why_right .bold {
        
        font-size: 24px;
        line-height: 27px;
        
    }
    .why_right span {
        
        font-size: 24px;
        line-height: 27px;
        
    }
    .why_right p {
        
        font-size: 16px;
        line-height: 18px;
        
    }
    .why_right .slick-arrow
    {
        top: 490px;
    }
    .why_right .slick-arrow.slick-prev {
        right: 0;
    }
    .why_right .slick-arrow.slick-next {
        left: 0;
    }
    .prod_box
    {
        padding: 20px 0 30px;
    }
    .prod_text
    {
        width: 100%;
        padding: 15px;
        margin: 0;
    }
        .text {
        padding: 15px;
        border: none;
    }
    .form_box.two {
        margin: 10px auto 0;
    }
    .form_text h2 {
        font-size: 24px;
        color: #bc8c58;
        font-weight: 400;
        padding-bottom: 30px;
    }
    .form_text p 
    {
    font-weight: 400;
    font-size: 24px;
    min-width: 340px;
    }
    .modal_static input
    {
        width: 100%;
        height: 60px;
        margin: 0;
        appearance: none;
        box-sizing: border-box;
        padding: 15px;
        background-color: #e3e9da;
        border-radius: 5px;
        border: none;
    }
    .popup .modal_static input {
        width: 350px;
    }
    .modal_static .btn_modal {
        width: 100%;
        margin-left: 0;
        transform: none;
        font-size: 14px;
    }
    .slider_prod_item
    {
        max-width: 380px;
        flex-direction: column;
    }
    .slider_prod_item .slick-slide
    {
        max-width: 380px;
    }

    .prod_slider {
        max-width: 380px;
    }
    .slider_prod .slick-list {
        max-width: 380px;
    }
    

 
    .form_box {
        flex-direction: column;
        padding: 20px;
    }
    .content_wraper {
        flex-direction: column;
        padding: 20px 2% 75px;
    }
    .video
    {
        flex-direction: column;
    }
    .video_info
    {
        padding: 15px;
    }
    .quiz
    {
        margin: 0 auto;
        padding: 0;
    }
    .quiz h1
    {
        margin-top: 40px;
        font-size: 24px;
    }
    .quiz_box {
        width: 95%;
      
    }
    .quest {
        min-width: 100%;
        
    }
    .three .check_one_quiz
    {
        width: 220px;
    }
    .three .one_col
    {
        margin-top: 10px;
    }
    
    .form_box {
        width: 100%;
    }
    .nav
    {
        display: none;
    }
    .gal_pic
    {
        margin-bottom: 10px;
    }
    
    .gal_pic_top 
    {
        width: 100%;
        height: 100%;
        margin-bottom: 15px;
    }
    .gallery_field {
        display: flex;
        justify-content: space-between;
        min-width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .keis
    {
        margin: 0 auto;
    }
    .keis_info 
    {
    min-width: 340px;
    padding-top: 70px;
    }
    .keis_info_p .btn_modal 
    {

        width: 100%;
        margin-left: 0;
        transform: none;
        font-size: 14px;
    }
    .keis_info {
        min-width: 100%;
        padding-top: 70px;
        padding-left: 0;
    }
    .one_box {
        padding: 10px 15px;
    }
    .img_quiz {
        position: relative;
        width: 140px;
        height: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img_quiz img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        object-fit: cover;
    }
    .check_one_quiz {
        border: 1px solid white;
        height: 50px;
        width: 140px;
        border-radius: 10px;
        padding-left: 10px;
        padding-top: 16px;
    }
    .measure_img {
        width: 380px;
        margin: 50px auto;
    }
    .deliv_img {
    width: 380px;
    height: 300px;
    margin: 0 auto;
    }
    .bild_img {
        width: 380px;
        height: 300px;
        margin: 0 auto;
    }
    .radio input#email, .radio input#name, .radio input#phone {
    appearance: none;
    height: 50px;
    
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 0;
}
.three_box {
    padding: 0 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.map_img {
    width: 150px;
    height: 150px;
    margin-top: 2px;
}
body
{
    position: relative;
    margin: 0;
    padding: 0;
   
 
    height: auto;
}
.container {
   
    padding: 0;
}
.prod_slider .slick-arrow
{
    bottom: -58px;
}
.prod_slider .slick-arrow.slick-next
{
    left: 52%;
}
.prod_slider .slick-arrow.slick-prev {
    left: 28%;
}

.form_box
{
    margin: 50px 0 0;
}
.box {
 width: 100%;
 padding: 10px 30px;
    
}
.box_info
{
    justify-content: space-between;
}
.prod_img
{
    width: 380px; /*07.12.2022*/
    height: 200px;/*07.12.2022*/
}
.prod_img img
{
    object-fit: cover;
   
    
}
.box_title
{ 
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}
.box_info_bottom {
    justify-content: left;
    margin-left: 0;
}
.column p
    {
        margin-top: 15px;
        font-size: 14px;
        
    }
    .btn_quiz_prev {
        position: absolute;
        bottom: 45px;
        left: 60px;
        
    }
    .btn_quiz_prev::before {
        top: 0;
    }
    .digit
    {
        top: 520px;
    }
    .img_quiz p {
        text-align: center;
        font-size: 15px;
       
    }
    .quest .title
    {
        text-align: center;
        margin-left: 0;
    }
    .form .one_row {
        margin: 0px auto;
        flex-wrap: wrap;
    }
    .form_img {
        width: 75px;
        height: 75px;
    }
    .thanks_img {
        width: 100%;
    height: 200px;
    }
    .thanks .desk 
    {
        margin-top: 30px;
    }
    .img_quiz {
        position: relative;
        width: 140px;
        height: 92px;
    }
    .img_quiz img {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .one_row {
        margin: 0 20px 1px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .two_row {
        margin: 1px 20px 40px;
        display: flex;
        justify-content: space-evenly;
    }
    .radio_btn
    {
        margin-top: 40px;
    }
    .footer{
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 100%;
    }
    .contacts{
        position: relative;
        margin: 0 auto;
        padding: 15px;
        top: 0;
        left: 0;
    }
    .frame
    {width: 100%;}

}
@media screen and (max-width:450px){
    
   
    .form .radio input#email, .radio input#name, .radio input#phone {
       
        width: 361px;
    margin-bottom: 20px;
    margin-left: 2%;
      
    }
    .label_form p {
        position: absolute;
        left: -340px;
        top: -55px;
        color: white;
        min-width: 150px;
    }
}

@media screen and (max-width:400px){


    
    .one_box {
        padding: 70px 0;
    }
    .img_quiz {
        position: relative;
        width: 115px;
        height: 76px;
        margin: 0 3px;
    }
    .img_quiz img {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .three_box {
    padding: 0 75px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.one_row {
    margin: 23px 20px 1px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.two_row {
    margin: 1px 22px 40px;
    display: flex;
    justify-content: space-around;
}

.map_img {
    width: 150px;
    height: 150px;
    margin-top: 5px;
}
.form_img
{
    width: 75px;
    height: 75px;
}
.form .one_col
{
    align-items: center;
}
.radio_btn

{
    margin-top: 30px;
}

.form .radio input#email, .radio input#name, .radio input#phone {
       
    width: 320px;
    margin-bottom: 20px;
  
}
.label_form p {
    position: absolute;
    left: 28px;
    top: -112px;
    color: white;
    min-width: 150px;
}
.measure_img {
    width: 290px;
    margin: 100px auto;
}
.deliv_img {
    width: 290px;
    height: 300px;
    margin: 0 auto;
}
.bild_img {
    width: 290px;
    height: 300px;
    margin: 0 auto;
}
.thanks_img {
    width: 300px;
    height: 250px;
}
.thanks
{
    padding: 100px 0;
}

}
@media screen and (max-width:400px){



    .quiz_box
    {
        height: 690px;
    }
    .one_box {
        padding: 20px 0;
    }
    .btn_quiz{
        width: 160px;
    }
    .btn_m 
    {
        width: 160px;
        bottom: 49px;
    }
    .form .radio input#email, .radio input#name, .radio input#phone {
    width: 290px;
    margin-bottom: 15px;
    margin-left: 1%;
    }
    .form .one_col {
        margin: 65px auto;
        max-width: 400px;
    }
    .form_img {
    width: 60px;
    height: 60px;
}
}


